<!doctype html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>
      Results
    </title>
  </head>
  <body>
<<<<<<< HEAD
    <p><% %></p>
=======
    <p><%=print @thecountry.find_country%></p>
>>>>>>> ca67ce588f25721003d98318a54bff8b91b03b6d
  </body>
</html>