<!doctype html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>
      Results
    </title>
  </head>
  <body>

    <p><%= @country %></p>

  </body>
</html>