.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin: auto;
    width: 70%;

  }
html, body {
            background-size:cover; 
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Flag_of_the_United_Nations_(1945-1947).svg/2000px-Flag_of_the_United_Nations_(1945-1947).svg.png")
}    
}
